---
layout: layouts/home.njk
fa-icon: 'fa-home'
eleventyNavigation:
  key: Home
  order: 1
  url: /#
---

<!-- Heading -->
<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
  <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> {{ metadata.title }}.</h1>
  <p>Softare Engineer, Game Developer, Gem Cutter.</p>
</header>

<!-- Portfolio Section -->
<div class="w3-padding-64 w3-content" id="posts">

  <!-- Grid for posts -->
  <div class="w3-row-padding" style="margin:0 -16px">

    <style>
      .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
      }

      /* Create two equal columns that sit next to each other */
      .column {
        flex: 50%;
        max-width: 50%;
        padding: 0 4px;
      }

      .column img {
        margin-top: 8px;
        vertical-align: middle;
      }

      {% raw %}
      @media (max-width: 600px) {
        .column {
          flex: 100%;
          max-width: 100%;
        }

      {% endraw %}

    </style>
    <div class="row">
      <div class="column">
        {% for post in collections.photo | head(-8) %}
        {% if loop.index==4 %}
      </div>
      <div class="column">
        {% endif %}

        <a href="{{ post.url | url }}"><img src="{{ post.data.image | url }}" style="width:100%;margin-bottom:0px"> </a>

        {% endfor %}
      </div>
    </div>


    <!-- End photo grid -->
  </div>
  <!-- End Portfolio Section -->
</div>



<!-- About Section -->
<div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
  <h2 class="w3-text-light-grey">About Me</h2>
  <hr style="width:200px" class="w3-opacity">
  <p>Some text about me. Some text about me. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
    ut aliquip
    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
    est laborum consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>
  <p class="w3-wide">Photography</p>
  <div class="w3-white">
    <div class="w3-dark-grey" style="height:28px;width:95%"></div>
  </div>
  <p class="w3-wide">Web Design</p>
  <div class="w3-white">
    <div class="w3-dark-grey" style="height:28px;width:85%"></div>
  </div>
  <p class="w3-wide">Photoshop</p>
  <div class="w3-white">
    <div class="w3-dark-grey" style="height:28px;width:80%"></div>
  </div>
  <br>

  <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">11+</span><br>
      Partners
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">55+</span><br>
      Projects Done
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">89+</span><br>
      Happy Clients
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">150+</span><br>
      Meetings
    </div>
  </div>

  <button class="w3-button w3-light-grey w3-padding-large w3-section"
          onclick="window.open('{{ 'files/resume.pdf' | url }}')">
    <i class="fa fa-download"></i> Download Resume
  </button>

  <!-- End About Section -->
</div>

<!-- Latest posts -->
<div class="w3-content w3-justify w3-text-grey w3-padding-64">

  <h1>Latest 3 Posts</h1>

  {% set postslist = collections.posts | head(-3) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postslist.njk" %}

  <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
</div>

<!-- Contact Section -->
<div class="w3-padding-64 w3-content w3-text-grey" id="contact">
  <h2 class="w3-text-light-grey">Contact Me</h2>
  <hr style="width:200px" class="w3-opacity">

  <div class="w3-section">
    <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Chicago, US</p>
    <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: jared@jaredsprague.com</p>
  </div>
  <br>
  <p>Lets get in touch. Send me a message:</p>
</div>
<!-- End Contact Section -->


