<div class="w3-text-grey w3-xlarge">
    <a href="https://twitter.com/caramelcode"><i class="fab fa-twitter w3-hover-opacity"></i></a>
    <a href="https://github.com/Jared-Sprague"><i class="fab fa-github w3-hover-opacity"></i></a>
    <a href="https://www.twitch.tv/kamiza"><i class="fab fa-twitch w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/in/jaredsprague/"><i class="fab fa-linkedin w3-hover-opacity"></i></a>
    <!-- End footer -->
</div>
